.dashboard-main-container {
    display: flex;
}

/* .project-list-title {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
} */

.action-buttons {
    width: 100%;
    align-items: right;
    /* justify-content: space-between !important; */
    display: flex;
}

.ui.placeholder.segment .button {
    margin-left: 0 !important;
    margin-right: 10px !important;
}

.inner-action-buttons-container {
    display: flex;
    margin-top: 20px;
    margin-left: auto;
}

@media screen and (max-width: 700px) {
    .divider {
        display: none;
    }
  }